<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/niwasawa/java-hello-world-with-maven.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mvn -f pom.xml package </command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.14">
      <nexusVersion>nexus3</nexusVersion>
      <protocol>http</protocol>
      <nexusUrl>172.18.0.20:8081</nexusUrl>
      <groupId>1</groupId>
      <version>1</version>
      <repository>maven-releases</repository>
      <artifacts>
        <sp.sd.nexusartifactuploader.Artifact>
          <artifactId>maigolab_hello-1.0.0.jar</artifactId>
          <type>jar</type>
          <classifier></classifier>
          <file>target/maigolab_hello-1.0.0.jar</file>
        </sp.sd.nexusartifactuploader.Artifact>
      </artifacts>
      <credentialsId></credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>